<div>
  <h2 class="text-center my-4">On Loan</h2>

  <nav class="nav nav-pills nav-justified" id="nav-tab" role="tablist">
    <a class="nav-link active mx-2 my-3 no-italic" id="nav-active-tab" data-bs-toggle="pill" data-bs-target="#nav-active" role="tab" aria-controls="nav-active" aria-selected="true">Active</a>
    <a class="nav-link mx-2 my-3 no-italic" id="nav-cancelled-tab" data-bs-toggle="pill" data-bs-target="#nav-cancelled" role="tab" aria-controls="nav-cancelled" aria-selected="false">Rejected</a>
    <a class="nav-link mx-2 my-3 no-italic" id="nav-completed-tab" data-bs-toggle="pill" data-bs-target="#nav-completed" role="tab" aria-controls="nav-completed" aria-selected="false">Completed</a>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <!-- Active Bookings -->
    <div class="tab-pane fade show active" id="nav-active" role="tabpanel" aria-labelledby="nav-active-tab">
      <% active_bookings = @instrument_bookings.select { |booking| booking.status == 'pending' || booking.status == 'confirmed' } %>
      <% active_bookings.sort_by! { |booking| booking.status == 'pending' ? 0 : 1 } %> <!-- Sort by status: pending first -->

      <% if active_bookings.any? %>
        <% has_pending = active_bookings.any? { |booking| booking.status == 'pending' } %>
        <% has_confirmed = active_bookings.any? { |booking| booking.status == 'confirmed' } %>

        <!-- Pending Section -->
        <% if has_pending %>
          <h4 class="ms-4 mt-4">Pending</h4>
          <hr class="mx-4">
          <% active_bookings.each do |instrument_booking| %>
            <% if instrument_booking.status == 'pending' %>
              <div>
                <% confirm_link = button_to '<i class="fa-solid fa-check"></i>'.html_safe, booking_path(instrument_booking), method: :patch, params: { booking: { status: :confirmed } }, data: { turbo: true }, class: 'btn btn-light p-1' %>
                <% cancel_link = button_to '<i class="fa-solid fa-trash"></i>'.html_safe, booking_path(instrument_booking), method: :patch, params: { booking: { status: :cancelled } }, data: { turbo: true }, class: 'btn btn-light p-1' %>

                <%= render partial: 'card_product_bookings', locals: {
                  photos: instrument_booking.instrument.photos,
                  instrument: link_to(instrument_booking.instrument.name, alternative_booking_path(instrument_booking.id), class: 'no-italic'),
                  owner: "#{instrument_booking.user.first_name} #{instrument_booking.user.last_name}",
                  start_date: instrument_booking.start_date.strftime("%d/%m/%Y"),
                  end_date: instrument_booking.end_date.strftime("%d/%m/%Y"),
                  confirm_link: confirm_link,
                  cancel_link: cancel_link
                } %>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <!-- Confirmed Section -->
        <% if has_confirmed %>
          <h4 class="ms-4 mt-5">Confirmed</h4>
          <hr class="mx-4">
          <% active_bookings.each do |instrument_booking| %>
            <% if instrument_booking.status == 'confirmed' %>
              <div>
                <%= render partial: 'card_product_bookings', locals: {
                  photos: instrument_booking.instrument.photos,
                  instrument: link_to(instrument_booking.instrument.name, alternative_booking_path(instrument_booking.id), class: 'no-italic'),
                  owner: "#{instrument_booking.user.first_name} #{instrument_booking.user.last_name}",
                  start_date: instrument_booking.start_date.strftime("%d/%m/%Y"),
                  end_date: instrument_booking.end_date.strftime("%d/%m/%Y"),
                } %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <p class="ms-4 mt-4">You have no active bookings.</p>
      <% end %>
    </div>

    <!-- Rejected -->
    <div class="tab-pane fade" id="nav-cancelled" role="tabpanel" aria-labelledby="nav-cancelled-tab">
      <% cancelled_bookings = @instrument_bookings.select { |booking| booking.status == 'cancelled' } %>
      <% if cancelled_bookings.any? %>
        <% cancelled_bookings.each do |instrument_booking| %>
          <%= render partial: 'card_product_bookings', locals: {
            photos: instrument_booking.instrument.photos,
            instrument: link_to(instrument_booking.instrument.name, alternative_booking_path(instrument_booking.id), class: 'no-italic'),
            owner: "#{instrument_booking.user.first_name} #{instrument_booking.user.last_name}",
            start_date: instrument_booking.start_date.strftime("%d/%m/%Y"),
            end_date: instrument_booking.end_date.strftime("%d/%m/%Y")
          } %>
        <% end %>
      <% else %>
        <p class="ms-4 mt-4">You have not rejected any bookings.</p>
      <% end %>
    </div>

    <!-- Completed -->
    <div class="tab-pane fade" id="nav-completed" role="tabpanel" aria-labelledby="nav-completed-tab">
      <% completed_bookings = @instrument_bookings.select { |booking| booking.status == 'completed' } %>
      <% if completed_bookings.any? %>
        <% completed_bookings.each do |instrument_booking| %>
          <%= render partial: 'card_product_bookings', locals: {
            photos: instrument_booking.instrument.photos,
            instrument: link_to(instrument_booking.instrument.name, alternative_booking_path(instrument_booking.id), class: 'no-italic'),
            owner: "#{instrument_booking.user.first_name} #{instrument_booking.user.last_name}",
            start_date: instrument_booking.start_date.strftime("%d/%m/%Y"),
            end_date: instrument_booking.end_date.strftime("%d/%m/%Y"),
            rating: if instrument_booking.user_review.present?
              link_to '<i class="fa-brands fa-readme"></i> '.html_safe, booking_user_review_path(instrument_booking, instrument_booking.user_review), class: 'btn p-0'
            else
              link_to '<i class="fa-solid fa-pen-nib"></i>'.html_safe, new_booking_user_review_path(instrument_booking), class: 'btn p-0'
            end
          } %>
        <% end %>
      <% else %>
        <p class="ms-4 mt-4">You have no completed bookings.</p>
      <% end %>
    </div>
  </div>
</div>
