<div>
<h2>booking</h2>
<p>Start Date: <%= @booking.start_date %></p>
<p>End Date: <%= @booking.end_date %></p>
<p>Status: <%= @booking.status %></p>
<p>Total price: <%= @booking.total_price %> EUR</p>
</div>
