
<h2>booking</h2>
<p>Start Date: <%= @booking.dates_range.first %></p>
<p>End Date: <%= @booking.dates_range.last %></p>
<p>Status: <%= @booking.status %></p>
<p>Total price: <%= @booking.total_price %></p>
