<h2>Review</h2>

<p><strong>Rating:</strong> <%= @booking_review.rating %> / 5</p>

<p><strong>Review:</strong> <%= @booking_review.content %></p>


<%= link_to 'Back to Instruments Borrowed', user_bookings_bookings_path, class: 'btn btn-flat' %>
