<h2>Review</h2>

<p><strong>Rating:</strong> <%= @user_review.rating %> / 5</p>

<p><strong>Review:</strong> <%= @user_review.content %></p>


<%= link_to 'Back to Instruments on Loan', instrument_bookings_bookings_path, class: 'btn btn-flat' %>
